@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
}

.body--light{
    color: black;
    background-color: white;
}

.holynames-page{
    height: max-content;
    width: max-content;
}