@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
}

body.body--light{
    color: black;
    background-color: white;
}
body.body--dark{
    color: white;
    background-color: black;
}
.vue-scroll-picker-layer-top{
    background-color: green !important;
    height: .7 var(--vh);
}
.vue-scroll-picker-layer-bottom{
    background-color: greenyellow !important;
}
.holynames-page{
    height: max-content;
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: white;
}